html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    overscroll-behavior: none;
}

:root {
    --primary-green: #023020;
}

.btn-green {
    background: var(--primary-green);
}

.btn-green:hover {
    opacity: .75;
    background: var(--primary-green);
}

.about-section,
.certification-section {
    max-width: 970px;
}